{% macro displayComments(my_comments) %}
{% for comment in my_comments %}
<hr>
<div class="comment">
  <p>
    <strong>
      <p>Anonymous</p>
    </strong>
  </p>
  <p>{{comment.c_content}}</p>
  <strong>
    <p>{{comment.c_com_posted_on}}</p>
  </strong>
</div>
{% endfor %} {% endmacro %}
<!----------------------------------------------------------->
{% macro displayComs(my_comm) %}
{% for comms in my_comm %}
<div class="col-md-12">

  <p>{{comms.c_content}}</p>
  <strong>
    <p>Posted on :{{comms.c_com_posted_on}}</p>
  </strong>
  <ul class="list-inline">
    <li class="list-inline-item">
      <a href="/comments/{{comms.id}}">Add Comment</a>
    </li>
  </ul>
  <hr>
</div>
{% endfor %}
{% endmacro %}
<!----------------------------------------------------------->
